---

- name: d
  debug:
    msg: "{{ mariadb_config_mysqld }}"

- name: handle mariadb slow query log
  when:
    - not running_in_check_mode
    - (mariadb_config_mysqld['slow_query_log_file'] is defined and
       mariadb_config_mysqld['slow_query_log_file'] | string | length > 0)
  block:

    - name: define logfile directory
      ansible.builtin.set_fact:
        _mariadb_logfile_directory: "{{ mariadb_config_mysqld['slow_query_log_file'] | dirname }}"
        _mariadb_logfile: "{{ mariadb_config_mysqld['slow_query_log_file'] }}"
      no_log: true

    - name: create directory for slow query log file
      ansible.builtin.file:
        path: "{{ _mariadb_logfile_directory }}"
        state: directory
        owner: mysql
        group: adm
        mode: "0775"

    - name: create slow query log file
      ansible.builtin.file:
        path: "{{ _mariadb_logfile }}"
        state: touch
        owner: mysql
        group: mysql
        mode: "0666"
      changed_when: false

    - name: set ownership on slow query log file
      ansible.builtin.file:
        path: "{{ _mariadb_logfile }}"
        state: file
        owner: mysql
        group: mysql
        mode: "0666"

- name: handle mariadb error log
  when:
    - not running_in_check_mode
    - mariadb_config_mysqld['log_error'] is defined
    - mariadb_config_mysqld['log_error'] | string | length > 0
  block:

    - name: define logfile directory
      ansible.builtin.set_fact:
        _mariadb_logfile_directory: "{{ mariadb_config_mysqld['log_error'] | dirname }}"
        _mariadb_logfile: "{{ mariadb_config_mysqld['log_error'] }}"
      no_log: true

    - name: create directory for error log file '{{ _mariadb_logfile_directory }}'
      ansible.builtin.file:
        path: "{{ _mariadb_logfile_directory }}"
        state: directory
        owner: mysql
        group: adm
        mode: "0775"

    - name: create error log file '{{ _mariadb_logfile }}'
      ansible.builtin.file:
        path: "{{ _mariadb_logfile }}"
        state: touch
        owner: mysql
        group: mysql
        mode: "0666"
      changed_when: false

    - name: set ownership on error log file
      ansible.builtin.file:
        path: "{{ _mariadb_logfile }}"
        state: file
        owner: mysql
        group: mysql
        mode: "0666"

...
