---

- name: create policy-rc.d
  ansible.builtin.copy:
    dest: /usr/sbin/policy-rc.d
    content: |
      #!/bin/sh
      exit 101
    mode: "0755"
  when:
    - not postgresql_installed
    - ansible_facts.os_family | lower != 'archlinux'

- name: ensure postgresql packages are installed
  ansible.builtin.package:
    name: "{{ postgresql_packages }}"
    state: present
  register: postgresql_install_packages

- name: remove policy-rc.d
  ansible.builtin.file:
    path: /usr/sbin/policy-rc.d
    state: absent
  when:
    - ansible_facts.os_family | lower != 'archlinux'

- name: archlinux
  when:
    - ansible_facts.os_family | lower == 'archlinux'
  block:
    - name: detect if postgresql installed
      ansible.builtin.stat:
        path: "{{ postgresql_data_dir }}/pg_hba.conf"
        get_checksum: false
        get_mime: false
      register: postgresql_hba_file

    - name: init postgresql database for archlinux
      ansible.builtin.command: |
        su --login postgres --command "initdb --locale=C.UTF-8 --encoding=UTF8 --pgdata '{{ postgresql_data_dir }}'"
      register: postgresql_initdb
      changed_when: postgresql_initdb.rc != 0
      failed_when: postgresql_initdb.rc != 0
      when:
        - postgresql_hba_file is defined
        - postgresql_hba_file.stat is defined
        - not postgresql_hba_file.stat.exists

- name: create custom fact file
  bodsch.core.facts:
    name: postgresql
    facts:
      version: "{{ postgresql_version }}"
      short_version: "{{ postgresql_short_version }}"
      full_version: "{{ package_version.available.full_version }}"
      platform_version: "{{ package_version.available.platform_version }}"

...
