#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# mariadb apt repositories

{% if ansible_facts.distribution | lower == 'debian' %}
  {% set _family = ansible_facts.os_family | lower %}
{% endif %}
{% if ansible_facts.distribution | lower == 'ubuntu' %}
  {% set _family = ansible_facts.distribution | lower %}
{% endif %}

deb [arch={{ docker_apt_arch | default('amd64') }}] {{ mariadb_debian_repo }}/{{ mariadb_version }}/{{ _family }} {{ ansible_facts.distribution_release }} main
