---

- name: create download directory
  become: false
  delegate_to: localhost
  ansible.builtin.file:
    path: "{{ mysqltuner_local_tmp_directory }}"
    state: directory
    mode: "0750"

- name: clone mysqltuner repository to ansible-host
  when:
    - mysqltuner_source == "git"
  block:
    # - name: create local temp directory
    #   become: false
    #   delegate_to: localhost
    #   ansible.builtin.file:
    #     path: "{{ mysqltuner_local_tmp_directory }}"
    #     state: directory
    #     mode: "0750"

    - name: download git sources to local directory
      become: false
      delegate_to: localhost
      ansible.builtin.git:
        repo: "{{ mysqltuner_git.repository }}"
        version: "{{ mysqltuner_git.version | default('master') }}"
        dest: "{{ mysqltuner_local_tmp_directory }}"
        depth: 1
        update: true
        force: true

    - name: create transfer archive
      become: false
      delegate_to: localhost
      community.general.archive:
        path:
          - "{{ mysqltuner_local_tmp_directory }}/mysqltuner.pl"
          - "{{ mysqltuner_local_tmp_directory }}/basic_passwords.txt"
          - "{{ mysqltuner_local_tmp_directory }}/vulnerabilities.csv"
        dest: "{{ mysqltuner_local_tmp_directory }}/mysqltuner_{{ mysqltuner_version }}.zip"
        mode: "0660"
        remove: false
        format: zip
        exclude_path:
          - "{{ mysqltuner_local_tmp_directory }}/mysqltuner/{{ mysqltuner_version }}/.git*"
        exclusion_patterns:
          - "{{ mysqltuner_local_tmp_directory }}/mysqltuner/{{ mysqltuner_version }}/.git*"

    #- name: define mysqltuner download directory
    #  ansible.builtin.set_fact:
    #    mysqltuner_download_directory: "/tmp/mysqltuner/{{ mysqltuner_version }}"

- name: download mysqltuner archive to ansible-host
  when:
    - mysqltuner_source == "archive"
  block:
    - name: detect the downloaded mysqltuner archive
      become: false
      delegate_to: localhost
      run_once: true
      ansible.builtin.stat:
        path: "{{ mysqltuner_local_tmp_directory }}/mysqltuner_{{ mysqltuner_version }}.zip"
      register: stat_mysqltuner_archive

    # - https://github.com/major/MySQLTuner-perl/archive/refs/tags/v2.7.0.zip

    - name: download mysqltuner archive
      when:
        - stat_mysqltuner_archive.stat is defined
        - not stat_mysqltuner_archive.stat.exists | default('false')
      become: false
      delegate_to: localhost
      run_once: true
      ansible.builtin.get_url:
        url: "{{ mysqltuner_archive }}"
        dest: "{{ mysqltuner_local_tmp_directory }}/mysqltuner_{{ mysqltuner_version }}.zip"
        mode: "0640"
      register: _download_archive
      until: _download_archive is succeeded
      retries: 5
      delay: 2
      check_mode: false

    #- name: define mysqltuner download directory
    #  ansible.builtin.set_fact:
    #    mysqltuner_download_directory: "/tmp/mysqltuner/{{ mysqltuner_version }}"

# - name: propagate mysqltuner.zip
#   become: true
#   ansible.builtin.copy:
#     src: "{{ mysqltuner_local_tmp_directory }}/mysqltuner_{{ mysqltuner_version }}.zip"
#     dest: /tmp
#     mode: "0640"
#
# - name: create temp directory
#   ansible.builtin.file:
#     path: /tmp/mysqltuner
#     state: directory
#     mode: "0750"
#
# - name: extract mysqltuner.zip
#   ansible.builtin.unarchive:
#     src: "/tmp/mysqltuner_{{ mysqltuner_version }}.zip"
#     dest: /tmp/mysqltuner
#     remote_src: true

# - name: install mysqltuner
#   ansible.builtin.get_url:
#     url: "https://raw.githubusercontent.com/major/MySQLTuner-perl/master/{{ item.name }}"
#     dest: "/usr/local/bin/{{ item.name }}"
#     mode: "{{ item.mode }}"
#   register: _download_mysqltuner
#   until: _download_mysqltuner is succeeded
#   retries: 5
#   delay: 2
#   check_mode: false
#   loop:
#     - name: mysqltuner.pl
#       mode: "0750"
#     - name: basic_passwords.txt
#       mode: "0640"
#     - name: vulnerabilities.csv
#       mode: "0640"
#   loop_control:
#     label: "{{ item.name }}"
#   when:
#     - mariadb_mysqltuner
#
