#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = Run Mysql/MariaDB backup

[Timer]
# basic format: * *-*-* *:*:*
#               |   |     +---- *:*:*    is to signify the time component of the calnedar event. So it is - hour:minute:second
#               |   +---------- *-*-*    To signify the calendar date. Which means it breaks down to - year-month-date.
#               +--------------          To signify the day of the week eg:- Sat,Thu,Mon
#
OnCalendar          = {{ mariadb_backup_cron.weekday | default('') }} *-*-* {{ mariadb_backup_cron.hour | default('2') }}:{{ mariadb_backup_cron.minute | default('58') }}:00
Persistent          = true
Unit                = mariadb-backup.service

[Install]
WantedBy            = timers.target
